---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1 class="text-3xl">welcome to eimiko.gay :3</h1>
	<p>i bought this domain for $3.17 and god damn it im gonna use it!</p>
</BaseLayout>